.wap-button-style-preset {
    &__collapse {
        .ant-collapse-item {
            margin-bottom: 8px;
            padding: 0 16px;
            background: #f7f9fc;
            border-radius: 12px;
        }

        .ant-collapse-header {
            padding: 14px 0 !important;
            font-weight: 600;
        }

        .ant-collapse-content-box {
            padding: 8px 0 14px !important;
        }
    }

    .ant-input-number-group-addon {
        padding: 0 8px;
        background: #f5f5f5;
    }
}

.wap-button-style-preset-card {
    > .ant-card-body {
        padding: 0;
    }
}
