.wap-dashboard {

    .coming-soon-badge {
        background: linear-gradient(135deg, #fe5f55 0%, #ee0979 100%);
        color: #fff;
        padding: 4px 12px;
        border-radius: 4px;
        font-size: 12px;
        margin-left: 8px;
        border: none;
        display: flex;
        align-items: center;
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 99;
    }

    .coming-soon-btn {
        justify-content: space-between;
        cursor: not-allowed;
        opacity: .5;
        .coming-soon-badge {
            position: unset;
        }
    }

    .wap-header-card {
        background: linear-gradient(135deg, #1677ff 0%, #135e96 100%);
        border-radius: 6px;
        margin-bottom: 32px;

        .ant-card-body {
            padding: 30px;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            flex-wrap: wrap;

            &:before,
            &:after {
                display: none;
            }
        }

        .wap-header-card-title {
            margin: 0;
            color: #fff;
        }

        .wap-header-card-description {
            margin: 10px 0 0;
            color: #dee5ee;
            display: block;
        }

        .ant-btn {
            background: rgba(255, 255, 255, 0.11);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.11);

            &:hover {
                background: rgba(255, 255, 255, 0.188);
                border: 1px solid rgba(255, 255, 255, 0.11);
            }
        }
    }

    .statistics-grid {
        margin-bottom: 32px;

        .ant-col {
            height: 100%;
        }

        .ant-card {
            .ant-card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 220px;

                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }

    .wap-statistics-grid {
        .ant-card {
            transition: all 0.3s ease;

            &:hover {
                border: 1px solid #2196F3;
                transform: translateY(-2px);
            }
        }

        .ant-card-body {
            gap: 20px;

            .stat-icon-wrapper {
                .dashicons {
                    border-radius: 50%;
                    padding: 10px;
                    font-size: 20px;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .dashicons-universal-access {
                    color: #4CAF50; // Green for accessibility
                    background: rgba(76, 175, 80, 0.1);
                }

                .dashicons-admin-users {
                    color: #9C27B0; // Purple for users/profiles
                    background: rgba(156, 39, 176, 0.1);
                }

                .dashicons-visibility {
                    color: #2196F3; // Blue for visibility
                    background: rgba(33, 150, 243, 0.1);
                }

                h4 {
                    margin: 0;
                }
            }

            .stat-icon-wrapper {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .stat-content {
                display: flex;
                gap: 4px;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .stat-value,
                .stat-title {
                    font-weight: 600;
                    font-size: 18px;
                }

                .stat-value {
                    color: #1677ff;
                }
            }

            .stat-content-footer {
                display: flex;
                flex-direction: column;
                gap: 14px;
            }

            .stat-description {
                color: #565963;
            }
        }

        .ant-col:nth-child(1) {
            .stat-value {
                color: #4CAF50;
            }
        }

        .ant-col:nth-child(2) {
            .stat-value {
                color: #9C27B0;
            }
        }

        .ant-col:nth-child(3) {
            .stat-value {
                color: #2196F3;
            }
        }

        .ant-btn {
            border: 0 !important;
            box-shadow: none !important;
            padding: 0 !important;
        }

    }

    // Quick actions
    .quick-actions {
        .ant-card {
            margin-bottom: 0;
        }

        .ant-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .quick-action-btn-wrapper {
            display: grid;
            place-items: center;
            width: 100%;
        }
    }

    // WordPress icon adjustments
    .dashicon {
        inline-size: 1.5rem;
        block-size: 1.5rem;
        font-size: 1.5rem;
        vertical-align: middle;
    }
}
