@forward './dashboard';
@forward './create-preset';
@forward './get-pro';

.wap-admin-pages {
    padding: 36px;
    background: #fff;
    max-width: 1200px;
    margin: auto;
    border-radius: 6px;
    position: relative;

    min-height: 40px;
    font-size: 13px;
    box-shadow: none;

    .ant-select {
        .ant-select-selector {
            min-height: 40px;
        }
    }



    .wap-admin-page {
        &.website-accessibility-presets-preview {
            min-height: calc(100vh - 170px);
            position: relative;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid #f0f0f0;
        }
    }
}

.wap-admin-pages input[type="color"],
.wap-panel-right-sidebar__color-input {
    width: 40px;
    min-height: unset;
    padding: 4px;
    height: 40px;
}

.admin_page_website-accessibility-presets-preview {
    .wap-admin-pages {
        padding: 0;
    }
}

.wap-admin-pages:has(.website-accessibility-presets-preview) {
    padding: 0;
}
