.website-accessibility-presets-preview {
    .wap-panel-customization__panel-wrapper{
        margin-top: 36px;
        min-height: 70vh;
        position: relative;

        .wap-preview-button {
            position: absolute;
            z-index: 1000;

            &.bottom-right {
                right: 0;
                bottom: 0;
            }

            &.bottom-left {
                left: 0;
                bottom: 0;
            }

            &.top-right {
                top: 0;
                right: 0;
            }

            &.top-left {
                top: 0;
                left: 0;
            }
        }
    }
}

.wap-preset__preview-drawer {
    .ant-drawer-header{
        display: none;
    }

    .ant-drawer-body{
        padding: 0 !important;
    }

    .wap-panel-customization__panel{
        margin-top: 0 !important;
    }
}