@use 'sass:map';
@use '../variables' as vars;
@use '../mixins' as mix;

.wap-presets {

  // Preset list
  .preset-list {
    @include mix.card;
    margin-block-end: map.get(vars.$spacing, 'xl');

    .ant-table {
      .ant-table-thead > tr > th {
        background: rgba(vars.$primary, 0.05);
      }
    }
  }

  // Preset form
  .preset-form {

    .ant-form-item {
      margin-block-end: map.get(vars.$spacing, 'lg');
    }
  }
} 