@use 'sass:map';
@use 'variables' as vars;
@use 'mixins' as mix;
@use 'components/preset-button-style';
@use 'components/post-table';
@use 'components/preset-get-started';
@use 'components/control-wrapper';
@use 'components/widget-features';
@use 'components/panel-header';

// Pages
@use 'pages/dashboard';
@use 'pages/presets';
@use 'pages/profiles';
@use 'pages/create-preset';
@use 'pages/create-profiles';
@use 'pages/preview-preset';

@use 'components/preset-panel-left-sidebar';
@use 'components/preset-panel-right-sidebar';
@use 'components/preset-panel-customization';
@use 'components/preset-quick-edit';
@use 'components/icon-picker';
@use 'components/language-selector';
@use 'components/accessibility-profiles';


// Global admin styles
.wap-admin {
  .wrap {
    margin: 0;
    padding-top: map.get(vars.$spacing, 'lg');
  }
} 

.website-accessibility-app {
  padding: 36px;
  background: #fff;
  // min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  border-radius: 6px;
  position: relative;
    // ant primary button
    .ant-btn {
      font-weight: 600;
      font-size: 14px;
      border-radius: 6px;
      height: auto;
      padding: 10px 14px;
    }

    .ant-btn-sm {
      font-size: 12px !important;
      padding: 8px 12px !important;
      .dashicons {
        font-size: 16px !important;
        width: 16px !important;
        height: 16px !important;
      }
  }

  .ant-btn-lg.ant-btn-block {
      padding: 16px 20px;
  }
  
    .ant-card-body,
    .ant-card {
      border-radius: 6px !important;
    }
  
    .wap-header-card {
      background: linear-gradient(135deg, #1677ff 0%, #135e96 100%);
      border-radius: 6px;
      margin-bottom: 32px;
      .ant-card-body {
        padding: 30px;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        flex-wrap: wrap;
        &:before,
        &:after {
          display: none;
        }
      }

      .wap-header-card-title {
          margin: 0;
          color: #fff;
      }
      .wap-header-card-description {
        margin: 10px 0 0;
        color: #dee5ee;
        display: block;
      }

      .ant-btn {
        background: rgba(255, 255, 255, 0.11);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.11);
          &:hover {
            background: rgba(255, 255, 255, 0.188);
            border: 1px solid rgba(255, 255, 255, 0.11);
          }
      }
    }

    .wap-section-title {
        margin: 0 0 20px !IMPORTANT;
    }

    .ant-table-cell {
      .ant-btn {
        padding: 5px 10px;
        .dashicons {
          font-size: 16px;
          width: 16px;
          height: 16px;
        }
      }
    }

    .wap-post-table__searchbar {
      .ant-input {
        min-height: unset;
        border: 0;
      }
      .ant-input-affix-wrapper {
        padding: 8px 12px;
        input {
          border: 0 !important;
          &:focus,
          &:hover {
            border: 0 !important;
            box-shadow: none !important;
          }
        }
  
      }
    }

    .wap-preset-form-actions-card {
      > .ant-card-body {
        background: #f7f9fa;
      }
    }


}

.ant-drawer,
.website-accessibility-app {
  .wap-control-wrapper{
    .ant-typography {
      font-size: 14px;
    }
  }
  input.ant-input {
    min-height: 40px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 13px;

    &:focus,
    &:hover {
      border-color: #1677ff;
      box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
      outline: 0;
      background-color: #ffffff;
    }
  }
  .ant-select {
    .ant-select-selector {
      min-height: 40px;
    }
    .ant-select-arrow {
      margin-top: 0;
    }
  }

  input[type="color"] {
    width: 40px;
    min-height: unset;
    padding: 4px;
    height: 40px;
  } 
}


// browser preview styles

.wap-button-style-preset__preview-wrapper-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #e6f4ff;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wap-button-style-preset__preview-wrapper-bg {
  span {
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;

    &:nth-child(1) {
      background: #ff5f57;
    }
    &:nth-child(2) {
      background: #febc2e;
    }
    &:nth-child(3) {
      background: #28c840;
    }
  }
} 