@forward './components/compoents';
@forward './components/white-label';
@forward './pages/pages';
@forward './dashboard-feed';

#website-accessibility-admin {
    margin-top: 30px;

    #ehe-admin-cb, .notice, .error {
        display: none !important;
    }
    // .ant-btn {
    //     height: 42px;
    // }
}

.wap-panel-left-sidebar-open {
    overflow-y: unset !important;
}

.wap-control-wrapper {

    .ant-input,
    .ant-select-selector {
        min-height: 40px;
        border: 1px solid #e6e6e6;
        border-radius: 6px;
        font-size: 14px;

        &:focus,
        &:hover {
            border-color: #007bff;
            box-shadow: 0 0 0 1px #007bff;
        }
    }
}

.wap-panel-quick-edit-drawer {
    top: 30px !important;
}

@mixin profile-pro-badge {
    a {
        position: relative;

        &::after {
            content: "Pro";
            background: #ff5e3a;
            color: #fff;
            font-size: 10px;
            font-weight: 600;
            border-radius: 14px;
            position: absolute;
            width: 26px;
            height: 16px;
            top: 7px;
            right: 15px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.wap-admin {
    // Badge the "Custom Profiles" submenu item without relying on submenu order
    &:not(.wap-pro-admin),
    &.not-licensed {
        .toplevel_page_website-accessibility {
            & > .wp-submenu-wrap {
                a[href*="admin.php?page=website-accessibilityfiles"] {
                    position: relative;

                    &::after {
                        content: "Pro";
                        background: #ff5e3a;
                        color: #fff;
                        font-size: 10px;
                        font-weight: 600;
                        border-radius: 14px;
                        position: absolute;
                        width: 26px;
                        height: 16px;
                        top: 7px;
                        right: 15px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}