@forward './components/compoents';
@forward './pages/pages';

#website-accessibility-admin {
    padding: 80px 0;

    .notice {
        display: none !important;
    }

    #ehe-admin-cb {
        display: none !important;
    }
}

.wap-panel-left-sidebar-open {
    overflow-y: unset !important;
}

.wap-control-wrapper {

    .ant-input,
    .ant-select-selector {
        min-height: 40px;
        border: 1px solid #e6e6e6;
        border-radius: 6px;

        &:focus,
        &:hover {
            border-color: #007bff;
            box-shadow: 0 0 0 1px #007bff;
        }
    }
}

.wap-panel-quick-edit-drawer {
    top: 30px !important;
}

@mixin profile-pro-badge {
    a {
        position: relative;

        &::after {
            content: "Pro";
            background: #ff5e3a;
            color: #fff;
            font-size: 10px;
            font-weight: 600;
            border-radius: 14px;
            position: absolute;
            width: 26px;
            height: 16px;
            top: 7px;
            right: 15px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.wap-admin {
    &:not(.wap-pro-admin) {
        .toplevel_page_website-accessibility {
            &>.wp-submenu-wrap {
                li:nth-last-child(2) {
                    @include profile-pro-badge;
                }
            }
        }
    }

    &.not-licensed {
        .toplevel_page_website-accessibility {
            &>.wp-submenu-wrap {
                li:nth-last-child(3) {
                    @include profile-pro-badge;
                }
            }
        }
    }
}